nav{
    height: 5rem;
    width: 100vw;
    background-color:dodgerblue;
    display: grid;
    place-items:center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.nav_toggle-btn{
    display: none;
}

.nav_container{
    height: 100%;
    display: flex;
    gap: 18rem;
    align-items: center;
    position: relative;
    
}
.logo img{
    width: 7rem;
  
}
.nav_links{
    display: flex;
    gap: 3.5rem;
    align-items: center;
}
.nav_links a{
    transition: var(--transition);
}
.nav_links a:hover{
    color: var(--color-secondary);
}
.active-nav{
    position: relative;
}
.active-nav::after{
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background:dodgerblue;
    position: absolute;
    left: calc(50% - 0.6rem);
    transform: rotate(45deg);
    margin-top: 0.9rem;

}